.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 20%;
}

.cabecalho__subtitulo {
    font-weight: 600;
    color: #8E2424;
}

.cabecalho__titulo {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.cabecalho__texto {
font-size: 1.25rem;
text-align: center;
}